<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="/static/img/icon.png">
    <title>WCAI?</title>
</head>
<body>
    <h1>What Cat Am I?</h1>
    <form action="/cat" method="post" autocomplete="off">
        <input type="text" name="nome" placeholder="Informe seu nome">
        <button type="submit">Locate your cat</button>
    </form>
    <hr>
    {% if url_imagem %}
    <img src="{{url_imagem}}" class="imagem_gato">

    <p class="nome_gato">{{ nome }}, thats your cat!</p>

    <a class="btn-download" 
       href="/download?url={{ url_imagem }}&nome={{ nome }}">
        Baixar meu gato 😼
    </a>
{% else %}
    <img src="/static/img/icon.png" class="imagem_gato">
{% endif %}


    {% with msg = get_flashed_messages()|first %}
            {% if msg %}
            <p class="mensagem">{{ msg }}</p>
            {% endif %}
        {% endwith %}
</body>
</html>